<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
        body,a { font-family: Arial; font-size: 13px; }

        .btn {
          background: #3498db;
          background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
          background-image: -moz-linear-gradient(top, #3498db, #2980b9);
          background-image: -ms-linear-gradient(top, #3498db, #2980b9);
          background-image: -o-linear-gradient(top, #3498db, #2980b9);
          background-image: linear-gradient(to bottom, #3498db, #2980b9);
          -webkit-border-radius: 28;
          -moz-border-radius: 28;
          border-radius: 28px;
          font-family: Arial;
          color: #ffffff;
          font-size: 12px;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
        }

    </style>
</head>
<body>
    <h3><b>Results:</b></h3>
    <p th:text="'Your Rectangle Area is equal to ' + ${area} + '!'" />
    <p th:text="'Your Rectangle Perimeter is equal to ' + ${perimeter} + '!'" />
    <form><p align="center"><input type="button" value="Go back" onclick="javascript: history.back(-1)" class="btn"/></p></form>
</body>
</html>
